@using MyWebApp.Core.Model.ViewModels.Master;
@using MyWebApp.Core.Utility;
@model MasterViewModel;
@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <h1>Master Information</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Master Information</li>
            <li class="breadcrumb-item active">Master Data</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Search Master</h5>
        <form method="post" class="row g-3">
            <div class="col-md-6">
                <label for="ddlMasterType"
                       class="form-label">
                    Master Type
                </label>
                @Html.DropDownList("ddlMasterType",
                new SelectList(
                Model.listMaster, Constants.MasterTypeDDl.Code, Constants.MasterTypeDDl.Text),
                @Constants.SelectOption.SelectAll,
                new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                <label for="txtCode"
                       class="form-label">
                    Master Code
                </label>
                <input type="text" class="form-control" id="txtCode">
            </div>
            <div class="col-md-6">
                <label for="txtNameTH"
                       class="form-label">
                    Name (Thai)
                </label>
                <input type="text" class="form-control" id="txtNameTH">
            </div>
            <div class="col-md-6">
                <label for="txtNameEN"
                       class="form-label">
                    Name (English)
                </label>
                <input type="text" class="form-control" id="txtNameEN">
            </div>
            <div class="col-md-6">
                <label for="ddlStatus" class="form-label">Status</label>
                <select class="form-control" id="ddlStatus">
                    <option value="">Please Select </option>
                    <option value="A">Active</option>
                    <option value="I">InActive</option>
                </select>
            </div>
            <div class="text-center">
                <button type="button"
                        id="btnSearch"
                        onclick="GetList()"
                        class="btn btn-primary">
                    Search
                </button>
                <button type="reset"
                        class="btn btn-secondary"
                        onclick="ClearDataTable('dtResult')">
                    Reset
                </button>
            </div>
        </form>
    </div>
</div>
<div class="row" id="dvTable">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="card-title ">Search Result</h5>
                    </div>
                </div>
                <table id="dtResult" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">MasterType</th>
                            <th scope="col">Name(Thai)</th>
                            <th scope="col">Name(English)</th>
                            <th scope="col">Update By</th>
                            <th scope="col">Update Date</th>
                            <th scope="col" width="5%">Status</th>
                            <th scope="col" class="text-center" style="width:11%">
                                @if (Model.permAdd)
                                {
                                    <a class="btn btn-success me-2"
                                       onclick=PopupDetail('',"@Constants.Action.New")>
                                        <i class="bi bi-plus-lg me-1"></i>
                                        @Constants.Action.New
                                    </a>
                                }
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table_Data">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_DataTableScriptsPartial", Model);
    }   
}





