@{
    ViewData["Title"] = "Home Page";
}

<div id="jstree">
</div>
@using (Html.BeginForm("Index", "Test", FormMethod.Post))
{
    <input type="hidden" name="selectedItems" id="selectedItems" />
    <input type="submit" value="Submit" />
}

@section scripts{
    @{
        await Html.RenderPartialAsync("_JsTreeScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            bindTreeList();
        });

        function bindTreeList(){
            console.log(@Html.Raw(ViewBag.Json));
            $('#jstree').on('changed.jstree', function (e, data) {
                var i, j;
                var postedItems = [];
                for (i = 0, j = data.selected.length; i < j; i++) {

                    //Fetch the Id.
                    var id = data.selected[i];

                    //Add the Node to the JSON Array.
                    postedItems.push({
                        text: data.instance.get_node(data.selected[i]).text,
                        id: id,
                        parent: data.node.parents[0]
                    });
                }

                //Serialize the JSON Array and save in HiddenField.
                $('#selectedItems').val(JSON.stringify(postedItems));
            }).jstree({
                "core": {
                    "themes": {
                        "variant": "large"
                    },
                    "data": @Html.Raw(ViewBag.Json)
                                            },
                "checkbox": {
                    "keep_selected_style": false
                },
                "plugins": ["wholerow", "checkbox"],
            });
        }
    </script>
}

