@using MyWebApp.Core.Model.ViewModels.Dashboard;
@model List<StudentScoreDetails>
@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
                <h6>Filter</h6>
            </li>
            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">LegalStatus <span>/Today</span></h5>
        <div class="chart">
            <canvas id="polarChart"></canvas>
        </div>
    </div>
</div>

<script>

    var polarChartCanvas = document.getElementById("polarChart");

    var studentname = [];
    var score = [];

    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            @:studentname.push('@item.name');
            @:score.push(@item.score);
        }
    }


        var doughnutChart = new Chart(polarChartCanvas, {
            type: 'polarArea',
            data: {
                labels: studentname,
                datasets: [{
                    data: score,
                    borderWidth: 0,
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(157, 230, 41)',
                        'rgb(41, 224, 230)',
                        'rgb(255, 255, 0)'
                    ],
                    hoverBackgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(157, 230, 41)',
                        'rgb(41, 224, 230)',
                        'rgb(255, 255, 0)'
                    ]
                }]
            },
            options: {
                scale: {
                    ticks: {
                        display: true,
                        stepSize: 20
                    }
                },
                legend: {
                    position: "bottom",
                    labels: {
                        boxWidth: 11,
                        fontColor: "#757681",
                        fontSize: 11
                    }
                }
            }
        });

</script>

