@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <h1>Parameter</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Parameter</li>
            <li class="breadcrumb-item active">Index</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Edit Parameter</h5>
        <div id="divDetail"></div>     
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ScriptsPartial");
    }
}

