@using MyWebApp.Core.Model.ViewModels.Role;
@using MyWebApp.Core.Utility;
@model PermissionViewModel


<div style="display: none">
    @Model.RoleCode;
</div>

<div>
    <div class="row mx-auto">
        <div id="PermissionDetails"></div>
    </div>

    <div class="row">
        <hr />
        <div class="col-md-12">
            <div class="float-end">
                <button id="btnClose"
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Close
                </button>
                @if (Model.permEdit || Model.permAdd)
                {
                    <button id="btnSave" class="btn btn-primary">Save</button>
                }
            </div>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_DetailsPermissionScriptPartial", Model);
}
