@using MyWebApp.Core.Utility;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My App</title>
    @{
        await Html.RenderPartialAsync("_LayoutCssPartial");
    }
</head>
<body>
    <partial name="_Header" />
    @await Component.InvokeAsync("NavMenu")
    <main id="main" class="main">
        <div class="overlay" id="idLoading"></div>
        <div class="popup" id="idLoader">
            <partial name="_Loading" />
        </div>
        @RenderBody()
    </main>
    <partial name="_Modal" />
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer><!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
    @{
        await Html.RenderPartialAsync("_LayoutScriptsPartial");
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
